 <footer class="bg-gray-400 my-24 py-10 px-20 pt-6 m-12 border-4 rounded-2xl">
      <div class="">
        <h2 class="text-3xl  font-sans italic">
          Crafted with by Mariam Yousri 
        </h2>
        <p class=" text-2xl  font-sans italic text-gray-800 font-normal">
          Angular V21 TypeScript TailwindCSS Flowbit 
        </p>
      </div>
      <div class="flex justify-between py-5">
        <input
          type="text"
          id="text"
          class="bg-gray-50 border w-[85%] border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-green-500 focus:border-green-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
          placeholder="Your Email..."
          
        />
        <button class="bg-green-600 text-white font-sans italic p-2 rounded-2xl ">
          Share app link
        </button>
      </div>
      <div class="flex  justify-between  font-sans italic text-gray-800 py-3">
         <p class=" font-sans italic text-gray-800 text-lg">Payment partner</p>
        <p class="text-gray-800 text-lg font-sans italic">Get deliveries with FrechCart</p> 
        
      </div>
    </footer> 
