
<section>
  <owl-carousel-o [options]="mainOptions">

    <ng-template carouselSlide>
      <div class="h-[400px] w-full overflow-hidden">
        <img
          src="/images/blog-img-1.jpeg"
          class="w-full h-full object-cover"
          alt=""
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="h-[400px] w-full overflow-hidden">
        <img
          src="/images/blog-img-1.jpeg"
          class="w-full h-full object-cover"
          alt=""
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="h-[400px] w-full overflow-hidden">
        <img
          src="/images/blog-img-1.jpeg"
          class="w-full h-full object-cover"
          alt=""
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="h-[400px] w-full overflow-hidden">
        <img
          src="/images/blog-img-1.jpeg"
          class="w-full h-full object-cover"
          alt=""
        />
      </div>
    </ng-template>

  </owl-carousel-o>
</section>
